<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Reset Password</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<body onload="generate()">
<div class="container">
    <form action="/reset-password" method="post" id="resetForm"  onsubmit="return comparePasswords()">
        <a href="{{ url_for('login') }}">
            <img src="static/icons/left-arrow.png" alt="Go back" class="back-icon">
        </a>
        <h1>RESET PASSWORD</h1>

        <!-- Branch Code Field -->
        <input type="text" id="resetBranchCode" name="resetBranchCode" placeholder="Branch Code" required autocomplete="off" onkeypress="return isNumberKey(event)">

        <!-- Update Date Field -->
        <input type="date" id="updateDate" name="updateDate" placeholder="Update Date" required>

        <!-- CAPTCHA Container -->
        <div id="captchaContainer">
           <div id="image" class="inline" selectable="False"></div><br>
            <div class="inline" onclick="generate()">
                <i class="fas fa-sync"></i>&nbsp; &nbsp; &nbsp; &nbsp;
                <input type="text" id="submit" placeholder="Enter Captcha code"/>
            </div>
            <button type="button" id="validateCaptchaBtn" onclick="validateCaptcha()" style="display: none;">Validate CAPTCHA</button>
        </div>
        <div id="feedback" style="display: none; color: red;" ><br></div>

        <!-- Old Password Field (Disabled until CAPTCHA is validated) -->
        <div style="position: relative;">
            <input type="password" id="oldPassword" name="oldPassword" placeholder="Old Password" disabled required>
            <button type="button" class="eye-icon" id="toggleOldPassword">Show</button>
        </div>

        <!-- New Password Field -->
        <div style="position: relative;">
            <input type="password" id="newPassword" name="newPassword" placeholder="New Password" required>
            <button type="button" class="eye-icon" id="toggleNewPassword">Show</button>
        </div>

        <!-- Password Validation Rules -->
        <div class="validation" style="display: none;">
            <span id="lengthValid">At least 8 characters</span>
            <span id="lowerCaseValid">Contains lower case (a-z)</span>
            <span id="upperCaseValid">Contains upper case (A-Z)</span>
            <span id="numberOrSymbolValid">Contains at least one number (0-9) or symbol</span><br>
        </div>

        <!-- Confirm Password Field -->
        <div style="position: relative;">
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
            <button type="button" class="eye-icon" id="toggleConfirmPassword">Show</button>
        </div>

        <!-- Submit Button -->
        <button type="submit" id="resetPasswordBtn" disabled>Submit</button>
    </form>

    <!-- Feedback Message -->

</div>

<script src="static/js/reset.js"></script>
</body>
</html>
